
<script>
$(document).ready(function(){
  $("a.fancybox").fancybox();
});
</script>

  <div class="homepage">
    <h1><%= link_to "sleep tight tonight", shelters_url %></h1>
  </div>

  <div class="homepage_text">
    <p> Sleep tight tonight is an app to help locate shelters with open beds in real time (in your area). Our mission is to show which shelters in the Chicago area have open space so that no one has to sleep outside. We partner with the shelters to keep the data up to date and accurate for real time updates. </p>
  </div>





