
<div class="homepage">
  <h1><%= link_to "sleep tight tonight", shelters_url %></h1>
</div>
<div class="homepage_text"
  <p>– an app to help locate shelters with open beds in real time (in your area) –</p>


<%= link_to "Looking for a bed?", shelters_url, :class => "btn btn-primary" %>
<%= link_to "Have an open bed?", new_shelter_url, :class => "btn btn-primary" %>


</div>
