<body class="homepage">

<br><br><br>

  </div>

  <div class="background"> <h1> <%= link_to "sleep tight tonight", shelters_url %> </h1><div class="homepage_text">
    <p>
      Sleep tight tonight is an app to help locate shelters with open beds near you, in real time. We partner with local shelters to keep data up to date and accurate making efficient bed allocation possible.

      Our mission is to ensure every person in Chicago has a warm, safe place to spend the night.  No one should have to sleep outside. </p>
  </div>
</div>


<body>
